@font-face {
    font-family: 'Iransans';
    src: url(/fonts/IranSans/IRANSansWebFaNum.eot) format('embedded-opentype'), url(/fonts/IranSans/IRANSansWebFaNum.woff2) format('woff2'), url(/fonts/IranSans/IRANSansWebFaNum.woff) format('woff'), url(/fonts/IranSans/IRANSansWebFaNum.ttf) format('truetype');
}


body {
    font-family: Iransans;
}

h1, h2, h3, h4, h5, h6, a, span, label, p {
    font-family: Iransans;
}

.inspiro-slider .slide .slide-captions > p {
    text-align: right;
    direction: rtl;
    font-size: 13px;
}
li a {
    direction: rtl;
}
.about-home .row, .features-box .row, .box-fancy .row, .home-customer .row,
.blog-home .row, .contact-home .row, #footer .row {
    text-align: right;
    direction: rtl;
}

.product .row, #myTab3, .breadcrumb ul, #blog, #blog .post-item,
.about .row{
    direction: rtl;
    text-align: right;
}

#home3 p {
    direction: rtl;
    text-align: justify;
}

#errorDivBlog, #SuccessDivBlog {
    display: none;
}