@model ViewModels.AboutViewModel
@{
	ViewBag.Title = "About";
	Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}

<section id="page-title">
	<div class="container">
		<div class="breadcrumb">
			<ul>
				<li><a href="/">خانه</a> </li>
				<li class="active"><a href="#">درباره ما</a> </li>
			</ul>
		</div>
		<div class="page-title">
			<h1>درباره ما</h1>
		</div>
	</div>
</section>


<section class="p-b-10 about">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="heading-text heading-section">
					<h2>شرکت عهد ایران</h2>
					<p class="lead">
						شرکت عهدایرانیان با نام تجاری اسمارتک، از سال 1395 با هدف فعالیت در زمینه فناوری اطلاعات و ارتباطات شروع به کار کرده است.

						این شرکت در حال حاضر در زمینه ارائه خدمات شبکه های کامپیتور محلی و گسترده، بیسیم و کابلی، خدمات پهنای باند اختصاصی اینترنت، ایجاد بستر فیبر نوری خدمات مرکز داده و ایجاد بستر ADSL در برج ها و مراکز تجاری مشغول است
					</p>
					<p class="lead">
						هم اکنون این شرکت با ارائه سرویس های ADSL و VDSL، پهنای باند اختصاصی، اتصال نقطه به نقطه، اینترنت مرکزی برج ها و مجتمع ها را ارئه میدهد.

						شرکت عهد ایرانیان برای توزیع پهنای باند اینترنت از طریق امواج وایرلس از بدو تاسیس شروع به راه اندازی سایت های مختلف در اقصی نقاط شهر تهران نموده است
					</p>
				</div>
			</div>
			<div class="col-lg-6 m-t-60">

				<img src="~/images/company.jpg" />
			</div>
		</div>
	</div>
</section>

<section class="text-light" style="background: transparent url(/images/polygon/1.jpg);">
	<div class="container features-box">
		<div class="row">
			<div class="col-lg-4">
				<div class="col-lg-4" data-animate="fadeIn">
					<div class="heading-text heading-section">
						<h1 class="text-medium">بهترین خدمات شایسته شما است</h1>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-6" data-animate="flipInY" data-animate-delay="100">
						<div class="icon-box effect small clean">
							<div class="icon">
								<a href="#"><i class="fa fa-check"></i></a>
							</div>
							<h3>	 بالاترین کیفیت</h3>
							<p>دستیابی به بالاترین کیفیت خدمات به دلیل کوتاه شدن مسیرهای ارتباطی</p>
						</div>
					</div>
					<div class="col-lg-6" data-animate="flipInY" data-animate-delay="200">
						<div class="icon-box effect small clean">
							<div class="icon">
								<a href="#"><i class="fa fa-clock"></i></a>
							</div>


							<h3>تحویل ۴۸ ساعته سرویس</h3>
							<p>
								ارائه سرویس در کمتر از ۴۸ ساعت، بدون وابستگی و طی کردن مراحل اداری معمول
							</p>
						</div>
					</div>
					<div class="col-lg-6" data-animate="flipInY" data-animate-delay="400">
						<div class="icon-box effect small clean">
							<div class="icon">
								<a href="#"><i class="fa fa-edit"></i></a>
							</div>


							<h3>شخصی‌سازی سرویس</h3>
							<p>
								شخصی‌سازی سرعت و حجم سرویس و مدیریت یکپارچه آن برای هر مشترک
							</p>
						</div>
					</div>

					<div class="col-lg-6" data-animate="flipInY" data-animate-delay="600">
						<div class="icon-box effect small clean">
							<div class="icon">
								<a href="#"><i class="fa fa-chart-line"></i></a>
							</div>


							<h3>
								سرعت بسیار بالا
							</h3>
							<p>
								سرعت بسیار بالای این سرویس در مقایسه با سرعت و کیفیت محدود سرویس‌های ADSL معمول
							</p>
						</div>
					</div>
					<div class="col-lg-6" data-animate="flipInY" data-animate-delay="800">
						<div class="icon-box effect small clean">
							<div class="icon">
								<a href="#"><i class="fa fa-desktop"></i></a>
							</div>
							<h3>
								سرعت بسیار بالا


							</h3>
							<p>استقرار رایگان تجهیزات در محل برج یا مجتمع</p>
						</div>
					</div>
					<div class="col-lg-6" data-animate="flipInY" data-animate-delay="1000">
						<div class="icon-box effect small clean">
							<div class="icon">
								<a href="#"><i class="fa fa-phone"></i></a>
							</div>

							<p>
								پشتیبانی شبانه‌روزی اسمارتک در تمام روزهای سال
							</p>
						</div>
					</div>



				</div>
			</div>
		</div>
	</div>
</section>

<div class="seperator">
	<i class="fa fa-chevron-down"></i>
</div>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<p class="lead">برخی از برندهایی که افتخار همکاری با آن ها را داشته ایم:</p>
			</div>
		</div>
		<ul class="grid grid-5-columns">
			@foreach (var customer in Model.Customers)
			{
				<li>
					<a href="#">
						<img src="@customer.ImageUrl" alt="@customer.Title">
					</a>
				</li>
			}
		 
		</ul>
	</div>
</section>