
@{
	Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";

}

<div id="slider" class="inspiro-slider" data-height-xs="360">
		<!-- Slide 1 -->
		<div class="slide" style="background-image:url('/images/slider/banner1.jpg');">
			<div class="container">
				<div class="slide-captions text-light text-right">
					<!-- Captions -->
					<h1 data-caption-animation="rotateInUpLeft">پهنای باند اختصاصی</h1>
					<p data-caption-animation="rotateInUpLeft" data-caption-delay="300">پهنای باند اختصاصی (اینترنت سازمانی) اسمارتک بر روی بستر ارتباطات رادیویی، فیبر نوری و همچنین VPLS شرکت ارتباطات زیرساخت برای مشترکین قابل استفاده است. </p>
					<!-- end: Captions -->
				</div>
			</div>
		</div>
		<!-- end: Slide 1 -->
		<!-- Slide 2 -->
		<div class="slide" style="background-image:url('/images/slider/banner3.jpg');">
			<div class="container">
				<div class="slide-captions text-right text-light">
					<!-- Captions -->
					<h1 data-caption-animation="rotateInUpRight">اینتـرنت پرسـرعت بـرج‌ها و مجتمـع‌ها</h1>
					<p data-caption-animation="rotateInUpRight">افراد و ساکنین مجتمع ها می توانند بدون فوت وقت و در سریعترین زمان ممکن از اینترنت پرسرعت بهره مند شوند.</p>
					<!-- end: Captions -->
				</div>
			</div>
		</div>
	</div>

		<section class="background-colored text-dark p-b-40">
			<div class="container about-home">
				<div class="row">
					<div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="100">
						<div class="heading-text heading-section">
							<h1 class="text-medium">اسمارتک، ارائه دهنده خدمات سازمانی هوشمند</h1>
						</div>
					</div>

					<div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="300">
						شرکت عهدایرانیان با نام تجاری اسمارتک، از سال 1395 با هدف فعالیت در زمینه فناوری اطلاعات و ارتباطات شروع به کار کرده است.
						<br>
						<br>


						این شرکت در حال حاضر در زمینه ارائه خدمات شبکه های کامپیتور محلی و گسترده، بیسیم و کابلی، خدمات پهنای باند اختصاصی اینترنت، ایجاد بستر فیبر نوری خدمات مرکز داده و ایجاد بستر ADSL در برج ها و مراکز تجاری مشغول است

					</div>

					<div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="600">
						هم اکنون این شرکت با ارائه سرویس های ADSL و VDSL، پهنای باند اختصاصی، اتصال نقطه به نقطه، اینترنت مرکزی برج ها و مجتمع ها را ارئه میدهد.
						<br>
						<br>
						شرکت عهد ایرانیان برای توزیع پهنای باند اینترنت از طریق امواج وایرلس از بدو تاسیس شروع به راه اندازی سایت های مختلف در اقصی نقاط شهر تهران نموده است
					</div>

				</div>
			</div>
		</section>

		<section class="text-light" style="background: transparent url(/images/polygon/1.jpg);">
			<div class="container features-box">
				<div class="row">
					<div class="col-lg-4">
						<div class="col-lg-4" data-animate="fadeIn">
							<div class="heading-text heading-section">
								<h1 class="text-medium">بهترین خدمات شایسته شما است</h1>
							</div>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="row">
							<div class="col-lg-6" data-animate="flipInY" data-animate-delay="100">
								<div class="icon-box effect small clean">
									<div class="icon">
										<a href="#"><i class="fa fa-check"></i></a>
									</div>
									<h3>	 بالاترین کیفیت</h3>
									<p>دستیابی به بالاترین کیفیت خدمات به دلیل کوتاه شدن مسیرهای ارتباطی</p>
								</div>
							</div>
							<div class="col-lg-6" data-animate="flipInY" data-animate-delay="200">
								<div class="icon-box effect small clean">
									<div class="icon">
										<a href="#"><i class="fa fa-clock"></i></a>
									</div>


									<h3>تحویل ۴۸ ساعته سرویس</h3>
									<p>
										ارائه سرویس در کمتر از ۴۸ ساعت، بدون وابستگی و طی کردن مراحل اداری معمول
									</p>
								</div>
							</div>
							<div class="col-lg-6" data-animate="flipInY" data-animate-delay="400">
								<div class="icon-box effect small clean">
									<div class="icon">
										<a href="#"><i class="fa fa-edit"></i></a>
									</div>


									<h3>شخصی‌سازی سرویس</h3>
									<p>
										شخصی‌سازی سرعت و حجم سرویس و مدیریت یکپارچه آن برای هر مشترک
									</p>
								</div>
							</div>

							<div class="col-lg-6" data-animate="flipInY" data-animate-delay="600">
								<div class="icon-box effect small clean">
									<div class="icon">
										<a href="#"><i class="fa fa-chart-line"></i></a>
									</div>


									<h3>
										سرعت بسیار بالا
									</h3>
									<p>
										سرعت بسیار بالای این سرویس در مقایسه با سرعت و کیفیت محدود سرویس‌های ADSL معمول
									</p>
								</div>
							</div>
							<div class="col-lg-6" data-animate="flipInY" data-animate-delay="800">
								<div class="icon-box effect small clean">
									<div class="icon">
										<a href="#"><i class="fa fa-desktop"></i></a>
									</div>
									<h3>
										سرعت بسیار بالا


									</h3>
									<p>استقرار رایگان تجهیزات در محل برج یا مجتمع</p>
								</div>
							</div>
							<div class="col-lg-6" data-animate="flipInY" data-animate-delay="1000">
								<div class="icon-box effect small clean">
									<div class="icon">
										<a href="#"><i class="fa fa-phone"></i></a>
									</div>

									<p>
										پشتیبانی شبانه‌روزی اسمارتک در تمام روزهای سال
									</p>
								</div>
							</div>



						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="p-t-150 background-grey p-b-150">
			<div class="container home-customer">
				<div class="row">
					<div class="col-lg-7 m-b-30" data-animate="fadeInLeft">

						<div class="carousel" data-items="1" data-lightbox="gallery">
							<a href="/images/customer0.jpg" data-lightbox="gallery-image" title="Your image title here!"><img src="/images/customer0.jpg" alt=""></a>
							<a href="/images/customer1.jpg" data-lightbox="gallery-image" title="Your image title here!"><img src="/images/customer1.jpg" alt=""></a>
							<a href="/images/customer2.jpg" data-lightbox="gallery-image" title="Your image title here!"><img src="/images/customer2.jpg" alt=""></a>

						</div>

					</div>
					<div class="col-lg-5 p-l-40 p-r-40" data-animate="fadeInRight">
						<div class="m-b-40">
							<h2>مشتریان اسمارتک</h2>
							<p>شرکت عهد ایرانیان (اسمارتک) افتخار ارائه سرویس به سازمان های دولتی و خصوصی زیادی را در کارنامه خود دارد</p>

							<p> تعدادی از مشتریان ما را در تصویر رو به رو مشاهده می کنید.</p>
						</div>
						<a class="btn" href="#"><span>مشاهده همه مشتریان</span></a>
					</div>
				</div>
			</div>

		</section>

		<section class="box-fancy section-fullwidth text-dark" style="background-image:url(/images/1.jpg);">



			<div class="row text-center ">
				<h2 style="margin:0 auto">
					فرایند ثبت درخواست اینترنت پرسرعت برج ها
				</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 text-center">
					<h1 class="text-lg text-uppercase">01.</h1>
					<h3>ارسال درخواست</h3>
					<span>
						ارسال درخواست سرویس اینترنت برج‌ها از طریق تماس با بخش فروش شرکت اسمارتک و یا ثبت درخواست به صورت حضوری در شرکت.
					</span>
				</div>

				<div class="col-lg-3 text-center">
					<h1 class="text-lg text-uppercase">02.</h1>
					<h3> امکان‌سنجی</h3>
					<span>
						انجام بازدید اولیه توسط کارشناسان اسمارتک و تکمیل اطلاعات لازم و امکان سنجی و تخمین هزینه تجهیزات مورد نیاز
					</span>
				</div>

				<div class="col-lg-3 text-center">
					<h1 class="text-lg text-uppercase">03.</h1>
					<h3> تنظیم قرارداد</h3>
					<span>انجام توافقات نهایی و انتخاب پکیح مورد نیاز و انعقاد قرارداد با مدیریت برج یا مجتمع</span>
				</div>

				<div class="col-lg-3 text-center">
					<h1 class="text-lg text-uppercase">04.</h1>
					<h2> نصب و راه‌اندازی</h2>
					<span>
						نصب و راه‌اندازی تجهیزات مربوطه و شروع استفاده از سرویس های قدرتمند شرکت اسمارتک

					</span>
				</div>
			</div>
		</section>

<section>
	<div class="container blog-home">
		<div class="row">
			<div class="col-lg-4">
				<h4 class="m-b-20">ارائه بهترین خدمات</h4>

				<p class="lead">

					به لطف پوشش، کیفیت و سرعت بالای سرویسهای اینترنت و پشتیبانی شبانهروزی
					توانسته است در مدت زمان کوتاهی به موفقیتهای بزرگی نائل گردد که رضایتمندی 95 درصدی مشتریانمان شاهد این ادعا
					میباشد. این شرکت امیدوار است تا در مسیر تعالی خویش به ارز شهای سازمانی خود متعهد بماند و میکوشد تا در تمام کشور
					به مشتریان خود خدماتی ارزنده و نوآورانه ارائه نماید.
				</p>
			</div>
			<div class="col-lg-4">
				<h4 class="m-b-20">ارزش های سازمانی ما</h4>
				<div class="accordion fancy radius clean">
					<div class="ac-item ac-active">
						<h5 class="ac-title"><i class="fa fa-rocket"></i>مشتری مداری و ارتقای دائمی خدمات رسانی به مشتریان</h5>
						<div class="ac-content ac-active">
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
						</div>
					</div>
					<div class="ac-item">
						<h5 class="ac-title"><i class="fa fa-heart"></i>مشارکت و توسعه کارکنان و پایبندی به ارزش های مشترک و فرهنگ اعتماد متقابل</h5>
						<div class="ac-content">
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
						</div>
					</div>
					<div class="ac-item">
						<h5 class="ac-title"><i class="fa fa-shopping-cart"></i>یادگیری و نوآوری مداوم</h5>
						<div class="ac-content">
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<h4 class="m-b-20">آخرین مقالات</h4>
				<div class="post-thumbnail-list">

					@for (int i = 0; i < 4; i++)
					{

						<div class="post-thumbnail-entry">
							<img src="/images/corporate-v7/images/blog/5.jpg" alt="">
							<div class="post-thumbnail-content">
								<a href="#">راه اندازی نسل پنجم اینترنت</a>
								<span class="post-date"><i class="far fa-clock"></i> 4 روز پیش</span>
								<span class="post-category"><i class="fa fa-tag"></i> اخبار</span>
							</div>
						</div>
					}

				</div>
			</div>
		</div>
	</div>
</section>

		<section class="p-t-150 p-b-200 contact-home" style="background-image:url(/images/branding/images/background-4.png); background-position:71% 22%;">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="row">
							<div class="col-lg-12">
								<h2 class="m-b-10">با ما در تماس باشید</h2>
								<p class="lead">از طریق راه های ارتباطی زیر می توانید با ما در تماس باشید </p>
							</div>
							<div class="col-lg-6 m-b-30">
								<address>
									<strong>دفتر مرکزی:</strong><br>
									تهران، اشرفی اصفهانی<br>
									خیابان خوشزینت، پلاک 5، واحد 7<br>
								</address>
								<strong>تلفن:</strong> 02144838383
								<br>
								<strong>فکس:</strong> 02144848484
								<br>
								<strong>ایمیل:</strong> info@ahdiran.com
							</div>

							<div class="col-lg-12 m-b-30">
								<h4>ما را در شبکه های اجتماعی دنبال کنید</h4>
								<div class="social-icons social-icons-light social-icons-colored-hover">
									<ul>
										<li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
										<li class="social-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li class="social-vimeo"><a href="#"><i class="fab fa-vimeo"></i></a></li>
										<li class="social-youtube"><a href="#"><i class="fab fa-youtube"></i></a></li>
										<li class="social-instagram"><a href="#"><i class="fab fa-instagram"></i></a></li>
										<li class="social-pinterest"><a href="#"><i class="fab fa-pinterest"></i></a></li>
										<li class="social-gplus"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
										<li class="social-dribbble"><a href="#"><i class="fab fa-dribbble"></i></a></li>
										<li class="social-skype"><a href="#"><i class="fab fa-skype"></i></a></li>
										<li class="social-linkedin"><a href="#"><i class="fab fa-linkedin"></i></a></li>
										<li class="social-behance"><a href="#"><i class="fab fa-behance"></i></a></li>
										<li class="social-flickr"><a href="#"><i class="fab fa-flickr"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 offset-1">
						<form class="widget-contact-form" novalidate action="include/contact-form.php" role="form" method="post">
							<div class="row">
								<div class="form-group col-md-6">
									<label for="name">نام</label>
									<input type="text" aria-required="true" required name="widget-contact-form-name" class="form-control required name" placeholder="نام خود را وارد نمایید">
								</div>
								<div class="form-group col-md-6">
									<label for="email">ایمیل</label>
									<input type="email" aria-required="true" required name="widget-contact-form-email" class="form-control required email" placeholder="ایمیل خود را وارد نماید">
								</div>
							</div>
							<div class="form-group">
								<label for="message">پیام</label>
								<textarea type="text" required name="widget-contact-form-message" rows="8" class="form-control required" placeholder="پیام خود را واد نماید"></textarea>
							</div>
							<div class="form-group">
								<button class="btn btn-light" type="submit" id="form-submit"><i class="fa fa-paper-plane"></i>&nbsp;ارسال پیام</button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</section>
 
		<section class="background-colored text-center p-t-80  p-b-30">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-5">
						<div class="widget widget-newsletter">
							<form class="widget-subscribe-form" action="include/subscribe-form.php" role="form" method="post" novalidate>
								<h3 class="text-light">در خبر نامه ما ثبت نام کنید</h3>




								<div class="input-group mb-0">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="fa fa-paper-plane"></i></span>
									</div>
									<input type="email" required name="widget-subscribe-form-email" class="form-control required email" placeholder="ایمیل خود را وار کنید">

									<div class="input-group-append">
										<button type="submit" id="widget-subscribe-submit-button" class="btn btn-light">ثبت نام</button>
									</div>

								</div>





								<small class="text-light">از جدیدترین اخبار ما مطلع شوید</small>

							</form>

						</div>
					</div>
				</div>
			</div>
		</section>