
@{
	ViewBag.Title = "لیست قیمت اینترنت پر سرعت";

    Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}

<div class="container-fluid" dir="rtl">
    <div class="row my-3">
        <div class="col-xl-6 mx-auto">
            <div class="col-12 px-0">
                <div class="alert">
                    <div class="alert-heading text-center py-2">
                        <h4 class="text-dark">لیست قیمت اینترنت پر سرعت</h4>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col" class="text-center">مشخصات</th>
                            <th scope="col" class="text-center">قیمت</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="text-center" scope="row">1</th>
                            <td class="text-center">سرویس 8 مگ یکماهه 50 گیگ</td>
                            <td class="text-center">600,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">2</th>
                            <td class="text-center">سرویس 8 مگ شش ماهه 300 گیگ</td>
                            <td class="text-center">3,600,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">3</th>
                            <td class="text-center">سرویس 10 مگ یکماهه 40 گیگ</td>
                            <td class="text-center">820,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">4</th>
                            <td class="text-center">سرویس 10 مگ سه ماهه 120 گیگ</td>
                            <td class="text-center">2,460,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">5</th>
                            <td class="text-center">سرویس 10 مگ شش ماهه 240 گیگ+5 %تخفیف</td>
                            <td class="text-center">4,674,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">6</th>
                            <td class="text-center">سرویس 10 مگ یکساله 480 گیگ+9 %تخفیف</td>
                            <td class="text-center">8,954,400 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">7</th>
                            <td class="text-center">سرویس 10 مگ یکماهه 80 گیگ</td>
                            <td class="text-center">1,400,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">8</th>
                            <td class="text-center">سرویس 10 مگ سه ماهه 240 گیگ</td>
                            <td class="text-center">4,200,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">9</th>
                            <td class="text-center">سرویس 10 مگ شش ماهه 480 گیگ+5 %تخفیف</td>
                            <td class="text-center">7,980,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">10</th>
                            <td class="text-center">سرویس 10 مگ یکساله 960 گیگ+9 %تخفیف</td>
                            <td class="text-center">15,288,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">11</th>
                            <td class="text-center">سرویس 16 مگ یکماهه 80 گیگ</td>
                            <td class="text-center">900,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">12</th>
                            <td class="text-center">سرویس 20 مگ یکماهه 50 گیگ</td>
                            <td class="text-center">950,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">13</th>
                            <td class="text-center">سرویس 20 مگ سه ماهه 150 گیگ</td>
                            <td class="text-center">2,850,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">14</th>
                            <td class="text-center">سرویس 20 مگ شش ماهه 300 گیگ+5 %تخفیف</td>
                            <td class="text-center">5,415,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">15</th>
                            <td class="text-center">سرویس 20 مگ یکساله 600 گیگ+9 %تخفیف</td>
                            <td class="text-center">10,374,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">16</th>
                            <td class="text-center">سرویس 20 مگ یکماهه 100گیگ</td>
                            <td class="text-center">1,700,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">17</th>
                            <td class="text-center">سرویس 20 مگ سه ماهه 300گیگ</td>
                            <td class="text-center">5,100,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">18</th>
                            <td class="text-center">سرویس 20 مگ شش ماهه 600گیگ+5 %تخفیف</td>
                            <td class="text-center">9,690,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">19</th>
                            <td class="text-center">سرویس 20 مگ یکساله 1200گیگ+9 %تخفیف</td>
                            <td class="text-center">18,564,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">20</th>
                            <td class="text-center">سرویس 20 مگ یکساله با حجم 100 گیگ</td>
                            <td class="text-center">3,600,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">21</th>
                            <td class="text-center">سرویس 25 مگ سه ماهه با حجم 100 گیگ</td>
                            <td class="text-center">1,950,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">22</th>
                            <td class="text-center">سرویس 30 مگ سه ماهه با حجم 120 گیگ</td>
                            <td class="text-center">2,520,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">23</th>
                            <td class="text-center">سرویس 40 مگ سه ماهه با حجم 60 گیگ</td>
                            <td class="text-center">1,554,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">24</th>
                            <td class="text-center">سرویس حجمی 30 مگ یک ماهه با حجم 60 گیگابایت</td>
                            <td class="text-center">1,100,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">25</th>
                            <td class="text-center">سرویس حجمی 30 مگ سه ماهه با حجم 180 گیگابایت</td>
                            <td class="text-center">3,300,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">26</th>
                            <td class="text-center">سرویس حجمی 30 مگ شش ماهه با حجم 360 گیگابایت</td>
                            <td class="text-center">6,270,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">27</th>
                            <td class="text-center">سرویس حجمی 30 مگ دوازده ماهه با حجم 720 گیگابایت</td>
                            <td class="text-center">12,012,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">28</th>
                            <td class="text-center">سرویس حجمی 50 مگ یک ماهه با حجم 120 گیگابایت</td>
                            <td class="text-center">2,160,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">29</th>
                            <td class="text-center">سرویس حجمی 50 مگ سه ماهه با حجم 360 گیگابایت</td>
                            <td class="text-center">6,184,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">30</th>
                            <td class="text-center">سرویس حجمی 50 مگ شش ماهه با حجم 720 گیگابایت</td>
                            <td class="text-center">12,214,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">31</th>
                            <td class="text-center">سرویس حجمی 50 مگ دوازده ماهه با حجم 1440 گیگابایت</td>
                            <td class="text-center">24,270,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">32</th>
                            <td class="text-center">سرویس حجمی 50 مگ یک ماهه با حجم 200 گیگابایت</td>
                            <td class="text-center">3,364,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">33</th>
                            <td class="text-center">سرویس حجمی 50 مگ سه ماهه با حجم 600 گیگابایت</td>
                            <td class="text-center">9,784,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">34</th>
                            <td class="text-center">سرویس حجمی 50 مگ شش ماهه با حجم 1200 گیگابایت</td>
                            <td class="text-center">19,414,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">35</th>
                            <td class="text-center">سرویس حجمی 50 مگ دوازده ماهه با حجم 2400 گیگابایت</td>
                            <td class="text-center">38,670,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">36</th>
                            <td class="text-center">سرویس حجمی 50 مگ یک ماهه با حجم 300 گیگ</td>
                            <td class="text-center">4,864,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">37</th>
                            <td class="text-center">رویس حجمی 50 مگ سه ماهه با حجم 900 گیگابایت</td>
                            <td class="text-center">14,280,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">38</th>
                            <td class="text-center">سرویس حجمی 50 مگ شش ماهه با حجم 1800 گیگابایت</td>
                            <td class="text-center">28,414,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">39</th>
                            <td class="text-center">سرویس حجمی 50Mbps یک ساله با 3600 گیگ حجم پایه</td>
                            <td class="text-center">55,000,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">40</th>
                            <td class="text-center">سرویس حجمی 50 مگ یک ماهه با حجم 1000 گیگ</td>
                            <td class="text-center">15,364,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">41</th>
                            <td class="text-center">سرویس حجمی 50 مگ یک ماهه با حجم 1350 گیگ</td>
                            <td class="text-center">20,000,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">42</th>
                            <td class="text-center">سرویس حجمی 100 مگ یکساله با حجم 1500 گیگ</td>
                            <td class="text-center">25,174,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">43</th>
                            <td class="text-center">سرویس حجمی 100 مگ یکساله با حجم 2000 گیگ</td>
                            <td class="text-center">32,674,000 ریال</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">44</th>
                            <td class="text-center">سرویس حجمی 100 مگ یکساله با حجم 6000 گیگ</td>
                            <td class="text-center">92,674,000 ریال</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 px-0">
                <div class="alert alert-warning">
                    <div class="alert-heading text-center py-2">
                        <h4 class="text-dark">به مبالغ فوق 9 %مالیات بر ارزش افزوده اضافه می گردد.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

