<footer id="footer">
	<div class="footer-content">
		<div class="container">
			<div class="row gap-y">
				<div class="col-md-6 col-xl-4">
					<p><a href="#"><img src="/images/logo.png" alt="logo"></a></p>
					<p>
						شرکت شبکه پردازان عهد ایرانیان از سال 1395 با هدف فعالیت در زمینه ی فناوری اطلاعات و ارتباطات شروع به کار کرده
						است. این شرکت با تکیه بر توانمندی نیروی انسانی مجرب، متخصص و کارآزموده و به کارگیری تجهیزات روز دنیا رشد قابل
						ملاحظه ای را در زمینه IT داشته است.
					</p>
				</div>
				<div class="col-6 col-md-4 col-xl-3">
					<div class="widget">
						<h4>دسترسی سریع</h4>
						<ul class="list">
							<li><a href="/">خانه</a></li>
							<li><a href="/price">لیست قیمت</a></li>
							<li><a href="/contact">تماس با ما</a></li>
							<li><a href="/blog">مقالات</a></li>
							<li><a href="/about">درباره ما</a></li>
						</ul>
					</div>
				</div>
				<div class="col-6 col-md-4 col-xl-3">
					<div class="widget">
						<h4>خدمات</h4>
						<ul class="list">
							<li><a href="#">اینترنت پرسرعت</a></li>
							<li><a href="#">خدمات پهنای باند اختصاصی</a></li>
							<li><a href="#">خدمات اینترنت برج ها</a></li>
							<li><a href="#">تلفن اینترنتی نکسفون</a></li>
							<li><a href="#">اینترنت ptp</a></li>
						</ul>
					</div>
				</div>

				<div class="col-6 col-md-6 col-xl-2">
					<p><a class="btn btn-block" href="#">دانلود کاتالوگ</a></p>
					<br>
					<h5>ما را دنبال کنید</h5>
					<div class="social-icons social-icons-colored social-icons-rounded float-left">
						<ul>
							<li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
							<li class="social-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li class="social-youtube"><a href="#"><i class="fab fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright-content">
		<div class="container">
			<div class="copyright-text text-center">&copy; 2021 کلیه خدمات وب سایت متعلق به شرکت عهد ایرانیان می باشد. طراحی سایت <a href="https://zavoshsoftware.com/page/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D9%88%D8%A8-%D8%B3%D8%A7%DB%8C%D8%AA" target="_blank" rel="nofollow">زاوش</a> </div>
		</div>
	</div>
</footer>