@model ViewModels._BaseViewModel
<div id="topbar" class="d-none hidden-sm">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ul class="top-menu">
					<li><a href="#">Phone: 021-91071100</a></li>
					<li><a href="#">Email: info@ahdiran.com</a></li>
				</ul>
			</div>
			<div class="col-md-6 d-none d-sm-block">
				<div class="social-icons social-icons-colored-hover">
					<ul>
						<li class="social-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="social-google"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
						<li class="social-pinterest"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li class="social-vimeo"><a href="#"><i class="fab fa-vimeo"></i></a></li>
						<li class="social-linkedin"><a href="#"><i class="fab fa-linkedin"></i></a></li>
						<li class="social-dribbble"><a href="#"><i class="fab fa-dribbble"></i></a></li>
						<li class="social-youtube"><a href="#"><i class="fab fa-youtube"></i></a></li>
						<li class="social-rss"><a href="#"><i class="fa fa-rss"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<header id="header">
	<div class="header-inner">
		<div class="container">
			<!--Logo-->
			<div id="logo">
				<a href="/">
					<span class="logo-default">
						<img src="~/images/logo.png" />
					</span><span class="logo-dark"><img src="~/images/logo.png" /></span>
				</a>
			</div>



			<div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
			<!--end: Navigation Resposnive Trigger-->
			<!--Navigation-->
			<div id="mainMenu">
				<div class="container">
					<nav>
						<ul>
							<li><a href="/">خانه</a></li>
							<li class="dropdown">
								<a href="#">خدمات</a>
								<ul class="dropdown-menu">
									@foreach (var service in Model.MenuServices)
									{
									<li><a href="/service/@service.UrlParam">@service.Title</a></li>

									}
									@*<li><a href="#">پهنای باند اختصاصی</a></li>
									<li><a href="#">اینترنت پرسرعت ADSL</a></li>
									<li><a href="#">اینترنت PTP</a></li>
									<li><a href="#">ایجاد بستر فیبر نوری</a></li>
									<li><a href="#">خدمات VDSL</a></li>
									<li><a href="#">اینترنت برج ها و مجتمع ها</a></li>
									<li><a href="#">راهکارهای سازمانی</a></li>
									<li><a href="#">اینترنت پرسرعت مراکز خرید</a></li>
									<li><a href="#">نکسفون</a></li>*@
								</ul>
							</li>
							<li class="dropdown">
								<a href="#">لیست قیمت</a>
								<ul class="dropdown-menu">
									 <li><a href="/adslprice">اینترنت ADSL</a></li>
									<li><a href="/Home/WifiPriceList">اینترنت پرسرعت</a></li>
							 
								</ul>
							</li>

							<li><a href="/customer">مشتریان</a></li>
							<li><a href="/blog">اخبار و مقالات</a></li>
							<li><a href="/about">درباره ما</a></li>
							<li><a href="/contact">تماس با ما</a></li>
							<li><a href="http://my.respina.net" target="_blank" rel="nofollow noopener">ورود کاربران</a></li>
							<li><a style="background-color: #00aeef; color: #fff; padding: 4px; border-radius: 5px;" href="tel:02191071100" target="_blank" rel="nofollow noopener">
								91071100
								<i class="fa fa-phone"></i>

							</a></li>

						</ul>
					</nav>
				</div>
			</div>
			<!--end: Navigation-->
		</div>
	</div>
</header>